[*]
charset=utf-8
end_of_line=crlf
insert_final_newline=false
indent_style=space
indent_size=4

[{*.mod,*.dtd,*.ent,*.elt}]
indent_style=space
indent_size=4

[{*.jhm,*.xslt,*.xul,*.rng,*.xsl,*.xsd,*.ant,*.wadl,*.tld,*.fxml,*.jrxml,*.xml,*.jnlp,*.wsdl,*.pom}]
indent_style=space
indent_size=4

[{messages.*,messages,spring.handlers,spring.schemas,org.codehaus.groovy.runtime.ExtensionModule,*.properties}]
indent_style=space
indent_size=4

[{*.gy,*.groovy,*.gant,*.gradle,*.gdsl}]
indent_style=space
indent_size=4

[{*.yml,*.yaml}]
indent_style=space
indent_size=2

